@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Kanit:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Kanit:wght@300;400&family=Oswald&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.first-body {
  /* display: grid; */
  gap: 40px;
  /* height: 100vh; */
  margin: 0;
  grid-auto-flow: column;
  place-content: center;
}

.just-body {
  background-color: #ffffff;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.scroll-downs {
  position: absolute;
  top: 1;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 34px;
  height: 75px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
