@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.first-body {
  gap: 40px;
  margin: 0;
  grid-auto-flow: column;
  place-content: center;
}

.just-body {
  background-color: #ffffff;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.scroll-downs {
  position: absolute;
  top: 1;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 34px;
  height: 75px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.head1 {
  display: flex;
  flex-direction: row;
  margin-right: 12px;
}
.head1:before,
.head1:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #ddd;
  margin: auto;
}
.head1:before {
  margin-right: 10px;
}
.head1:after {
  margin-left: 10px;
}
.head2 {
  display: flex;
  flex-direction: row;
  margin-right: 12px;
}
.head2:before,
.head2:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #ddd;
  margin: auto;
}
.head2:before {
  margin-right: 10px;
}
.head2:after {
  margin-left: 10px;
}

::spelling-error {
  background: yellow;
}

.slick-prev:before,
.slick-next:before {
  color: #f0582f !important;
}

::selection {
  background-color: rgb(255 186 90);
  color: #f0582f;
}

.slick-dots li button:before {
  color: #ff0000;
}

.slick-dots li.slick-active button:before {
  color: #ff0000;
}
