@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Kanit:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Kanit:wght@300;400&family=Oswald&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.link:link,
.link:visited {
  color: #333;
  text-decoration: none;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #333;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: 0.2s all ease-out;
}

.link:hover::after {
  transform: scale(1);
}

.tipo {
  --color: #d6c64e; /* the border color */
  --border: 5px; /* the border thickness*/
  --offset: 20px; /* control the offset*/
  --gap: 5px; /* the gap on hover */

  --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),
    var(--color) 0;
  --_o: calc(3 * var(--offset));
  padding: calc(var(--gap) + var(--border))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border));
  background: linear-gradient(var(--_c)) var(--_o) var(--_o),
    linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
  background-repeat: no-repeat;
  filter: grayscale(0.4);
  transition: 0.5s;
  cursor: pointer;
}
.tipo:hover {
  background-position: 0px 0px;
  background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
  filter: grayscale(0);
}

body {
  /* display: grid; */
  gap: 40px;
  /* height: 100vh; */
  margin: 0;
  grid-auto-flow: column;
  place-content: center;
}


@media screen and (max-width: 480px) {
  
}